/* OVERALL */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    background: rgb(250, 250, 250);
    height: 100%;
}

body {
    font-family: Inter, sans-serif;
}

h1, h2 {
    font-weight: lighter;
    font-family: Inter, sans-serif;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media screen and (max-width: 600px) {
    #main {
        display: block;
    }
    #logo-main {
        width: 40%;
    }
}

/* ELEMENTS */

#hero {
    background-image: url("cpt_bg.png");
    width: 100%;
    filter: none;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 5%;
}

img {
    filter: drop-shadow(0px 0px 10px rgb(228, 228, 228));
    transition: filter 0.2s;
}

img:hover {
    filter: drop-shadow(5px 5px 10px rgb(191, 191, 191));
}

a {
    cursor: pointer;
}

table {
    border: 1px solid var(--border)
}

button, input[type="submit"] {
    border: 1px solid var(--button-hover);
    box-shadow: 5px 5px 15px rgb(240, 240, 240);
}

/* SIDEBAR AND LAYOUT */

#sidebar {
    grid-column: 1;
}

#sidebar button {
    width: 100%;
}

#posts {
    grid-column: 2 / 4;
}